@import "./../../../scss/base/1_vars.scss";
@import "./../../../scss/base/2_mixins.scss";
@import "./../../../scss/base/3_typography.scss";

header {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-image: url("../../../img/header_bg.gif");
  background-repeat: repeat-x;
  //background-color: #000;

  .row {
    width: 100%;

    .logo {
      display: table-cell;
      height: 4em;
      transition: all 0.5s ease-out;

      @include xs {
        display: block;
      }
      
      @include sm {
        display: block;
      }

      // add hover only for bigger screens
      @include md {
        &:hover {
          transform: perspective(300px) rotateY(15deg);
        }
      }

    }


    .logo {
      position: relative;
      margin-top: 15px;

      img {

        @include xs {
          width: 200px;
        }

        @include sm {
          width: 250px;
        }

        @include md {
          width: 250px;
        }

      }
    }


  }

}