@import "./../../../scss/base/1_vars.scss";
@import "./../../../scss/base/2_mixins.scss";


.main.container {

  .row {
    margin: -15px;

    .item {
      position: relative;


      .inner {
        margin: 15px;
        height: auto;
        position: relative;

        @include sm {
          height: 280px;  // normalise height for grid
        }

        .item-thumbnail {
          width: 100%;
          display: inline-block;
          position: relative;
          overflow: hidden;
          height: 1px;
          padding-top: 55%; // ratio of thumbnail container

          >img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            perspective: 400px;
            perspective-origin: 50% 50%;
            transform-origin: 50% 100%;
            transform-style: flat;
            transform: translateY(-50%) scale(1) perspective(400px) rotateX(0deg);
            transition: all 0.5s ease-out;
          }

          .overlay {
            position: absolute;
            bottom: 0;
            width: calc(100% + 1px);  // fixes random gap appearing on the right
            background-color: rgba(0,0,0,0.6);
            height: auto;
            display: table;
            padding: 10px 15px;
            min-height: 50px;

            transition: background-color 0.5s ease-out;

            .title {
              display: table-cell;
              vertical-align: bottom;
              font-family: $font-heading;
              font-size: 16px;
              color: $brand-color;
              padding-right: 1em;
              line-height: 1.5em;

              //transition: color 0.5s ease-out;
            }

            .play-icon {
              display: table-cell;
              vertical-align: middle;
              width: 28px;

              img {
                width: 28px;
                height: 28px;
              }
            }
          }
        }


        &:hover {
          .item-thumbnail {

            >img {
              transform: translateY(-50%) scale(1.01) perspective(400px) rotateX(-2deg);
            }
          }

          .overlay {
            background-color: rgba(0,0,0,0.8);
          }
        }

        .snippet {
            font-family: $font-body;
            margin-top: 8px;

            .published {
              color: #CACACA;
              font-size: 13px;
              letter-spacing: 0;
            }

            .description {
              color: #878787;
              font-size: 12px;
              letter-spacing: 0;
              line-height: 1.5em;
            }
        }


      }


      &:hover {
        .inner {
          //transform: scale(1.15);
          //box-shadow: 0 0 10px rgba(0,0,0,0.2);
          //z-index: 1;
        }
      }

    }

  }

}