@font-face {
  font-family: 'Alfa Slab One';
  src: url("../fonts/AlfaSlabOne/AlfaSlabOne-Regular.woff2") format("woff2"), url("../fonts/AlfaSlabOne/AlfaSlabOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
